</div>
  
  <div class="foot">
    Copyright&copy; <%= site_name %>
    <a href="http://maitodo.duapp.com/">Mai Todo</a>
    <br />
    修改自 <a href="https://github.com/fengmk2/todo"> simple-todo: 一个简易的 todo 程序 </a>
    from <a href="http://fengmk2.github.io/">fengmk2</a>
  </div>
</div>
</body>
</html>